---
layout: blog
title: Blog
headline: Latest <span>articles.</span>
---

<main>
  <section class="Section">
    <div class="Posts">
      {% if site.posts.size > 0 %}
      <ul class="Posts-list">
        {% for post in site.posts %}
        <li class="Posts-item">
          <div class="PostsItem">
            <div class="PostsItem-heading">
              <time
                class="PostsItem-date"
                datetime="{{ post.date | date_to_xmlschema }}"
              >
                {{ post.date | date: "%-d/%m/%Y" }}
              </time>
              <div class="PostsItem-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </div>
            </div>
            <p class="PostsItem-excerpt">{{ post.excerpt | strip_html }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No posts available.</p>
      {% endif %}
    </div>
  </section>
</main>
