---
layout: blog
---

<main>
  <section class="Section">
    <h1>Recent posts</h1>
    {% if site.posts.size > 0 %}
    <ul class="Posts">
      {% for post in site.posts %}
      <li class="Posts-item">
        <div class="PostsItem">
          <time
            class="PostsItem-date"
            datetime="{{ post.date | date_to_xmlschema }}"
          >
            {{ post.date | date: "%-d/%m/%Y" }}
          </time>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <span class="PostsItem-title">{{ post.title }}</span>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts available.</p>
    {% endif %}
  </section>
</main>
