---
layout: blog
title: Blog
headline: Blog
alias: blog
---

<div class="Posts">
  {% if site.posts.size > 0 %}
  <ul class="Posts-list">
    {% for post in site.posts %}
    <li class="Posts-item">
      <div class="PostsItem">
        <div class="PostsItem-heading">
          <time
            class="Date PostsItem-date"
            datetime="{{ post.date | date_to_xmlschema }}"
          >
            {{ post.date | date: "%d/%m/%Y" }}
          </time>
          <div class="PostsItem-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
        </div>
        <div class="Copy">
          <p class="PostsItem-excerpt">{{ post.excerpt | strip_html }}</p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No posts available.</p>
  {% endif %}
</div>
