<div class="Comment">
  <div class="Comment-header">
    <a href="#comment-{{ include.id }}" rel="nofollow" class="Comment-date date"><time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%Y/%m/%d' }}</time></a>
    {% if include.url %}
      <a class="Comment-url" href="{{ include.url | strip_html }}" target="_blank" rel="noopener">
    {% endif %}
        <span class="Comment-name">{{ include.name | strip_html }}</span>
    {% if include.url %}
      </a>
    {% endif %}
  </div>
  <blockquote class="Comment-text">
    {{ include.message | markdownify }}
  </blockquote>
</div>
