<head>
  <meta charset="utf-8">
  <link rel="preload" href="/assets/fonts/Inter-Regular.woff2" as="font" crossorigin>
  <link rel="preload" href="/assets/fonts/Inter-ExtraBold.woff2" as="font" crossorigin>
  <title>
    {% if page.title %}{{ page.title }} &#8212; {{ site.title }}{% else %}{{
    site.title }}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="/assets/styles.css">
  <script>
    var circle;
    var icon;

    function onScroll() {
      requestAnimationFrame(function() {
        const scrollY = window.scrollY;
        const angle =
          (289 / (document.body.scrollHeight - window.innerHeight)) * scrollY;
        circle.setAttribute("stroke-dasharray", `${angle}, 289`);
        icon.classList.toggle("is-visible", scrollY > 0);
      });
    }

    document.addEventListener("DOMContentLoaded", function() {
      circle = document.querySelector(".Up circle");
      icon = document.querySelector(".Up-icon");

      onScroll();
      window.addEventListener("scroll", onScroll);
      window.addEventListener("resize", onScroll);
    });
  </script>
</head>
