<header class="Header">
  {% if include.headline %}
    <h1 class="Header-pageTitle">{{ include.headline }}</h1>
  {% endif %}
    <div class="Header-titleItems">
      {% if include.date %}
        <time
          class="Post-date Date"
          datetime="{{ page.date | date_to_xmlschema }}"
        >
          {{ include.date | date: "%-d/%m/%Y" }}
        </time>
      {% else %}
        <span class="Header-titleItem Header-titleItem--occupation">freelance frontend-developer</span>
        <span class="Header-titleItem Header-titleItem--name">
          <span>Michael</span> <span>Großklaus</span>
        </span>
      {% endif %}
    </div>
</header>
