@media (max-width: 700px) {
  body {
    padding: 3rem 2.5rem 0;
  }
  .header__link::before,
  .header__title,
  .header__subtitle {
    float: none;
    text-align: center;
    line-height: 1.5em;
  }
  .header__link {
    font-size: 7vw;

    &::before {
      margin: 0 auto;
    }
  }
}

@media (max-width: 480px) {
  .header__link {
    font-size: 9vw;
  }
  .footer__item {
    float: none;

    &:not(:last-child) {
      margin: 0 0 1em;
    }
  }
}
