@media (max-width: 48rem) {
  body {
    padding: 4rem 3rem 0;
  }
  .footer__item {
    float: none;
    margin: 0 0 .5em;
  }
}

@media (max-width: 36rem) {
  .header__link {
    font-size: 9vw;

    &::before {
      margin: 0 auto;
    }
  }
  .header__link::before,
  .header__title,
  .header__subtitle {
    float: none;
    text-align: center;
    line-height: 1.5em;
  }
  .footer__item {
    float: none;

    &:not(:last-child) {
      margin: 0 0 1em;
    }
  }
}
