<nav class="Nav" aria-label="Main navigation">
  <ul class="Nav-list">
    <li class="Nav-item">
      <a href="/"{% if page.alias == "about" %} aria-current="page"{% endif %}>
        About
      </a>
    </li>
    <li class="Nav-item">
      <a href="/principles"{% if page.alias == "principles" %} aria-current="page"{% endif %}>
        Principles
      </a>
    </li>
    <li class="Nav-item">
      <a href="/blog"{% if page.alias == "blog" or include.current == "blog" %} aria-current="page"{% endif %}>
        Blog
      </a>
    </li>
  </ul>
</nav>
