@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto Slab Regular'),
        local('RobotoSlab-Regular'),
        url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'),
        url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

html,
body {
  min-height: 100%;
}
html {
  background: #f0f0f0;
  box-shadow: inset 0 0 0 10px #fff;
}
body {
  font: .925rem/1.6em 'Roboto Slab', Georgia, Times, serif;
  color: #444;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 4rem;
}
a {
  color: #444;

  &:hover,
  &:focus {
    color: #c36;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
    outline: none;

    svg {
      path,
      circle {
        -webkit-transition: .3s ease all;
        -moz-transition: .3s ease all;
        -ms-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all;
      }
    }
  }
}

/* +header */
.header {
  padding: 0 0 2rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.site-title__link {
  text-decoration: none;
  display: block;
}
.site-title__image {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  font-size: 4rem;
  display: block;
  float: left;
  margin: 0 .2em 0 0;
  padding: .1em;
  background: #fff;
}
.site-title {
  font-size: 2rem;
  float: left;
}
.site-title,
.site-subtitle {
  line-height: 4rem;
}
.site-subtitle {
  margin: 0 0 0 1em;
  float: right;
  color: #999;
}

/* +content */
.content {
  padding: 4rem 0 3rem;
  border: 0 dotted #ccc;
  border-width: 1px 0;

   &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.content__main {
  float: left;
  width: 66.6%;
  padding: 0 2rem 0 0;
}
.content__sub {
  float: right;
  width: 33.3%;
  padding: 0 0 0 2rem;
  font-size: .875rem;
}
.content__main h3,
.content__sub h4 {
  margin: 0 0 1em;
  font-size: 1.25rem;
}
.page-head {
  margin-bottom: 2em;
}
.date {
  color: #999;
}
p,
ul,
ol,
table,
dl,
pre {
  margin: 0 0 1.5em;
}
p,
ul,
ol {
  max-width: 46em;
  line-height: 1.8em;
}
.secondary-content {
  color: #999;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: initial;
    }
  }
}

/* +posts */
.posts-item__link {
  text-decoration: none;
  display: block;
  padding: 1em 0;
  border-bottom: 1px dotted #ccc;

  &:hover,
  &:focus {
    border-bottom-color: #666;
  }
}
.posts-item__title {
  text-decoration: underline;
  font-size: 1rem;
}

/* +post */
.post__title {
  font-size: 1.5rem;
  line-height: 1.25em;
}
pre {
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  padding: .5em;

  code {
    padding: 0;
  }
}
pre,
code {
  font-family: Monaco, 'Courier New', Courier, monospace;
  font-size: .875rem;
}
code.highlighter-rouge {
  color: #c36;
}

.post__content {
  [target="_blank"] {
    &::after {
      content: '';
      display: inline-block;
      font-size: .625rem;
      width: 1em;
      height: 1em;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjEwMDAiPiAgPHBhdGggZD0ibSA1MCwzNTAgNjAwLDAgMCw2MDAgLTYwMCwwIDAsLTYwMCB6IiBzdHlsZT0iZmlsbDojZjBmMGYwO3N0cm9rZTojNDQ0O3N0cm9rZS13aWR0aDoxMDA7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1taXRlcmxpbWl0OjQ7Ii8+ICA8cGF0aCBkPSJtIDQ1MCwxNTAgMCwtMTAwIDUwMCwwIDAsNTAwIC0xMDAsMCBMIDc1MCw0NTAgNDUwLDc1MCAyNTAsNTUwIDU1MCwyNTAgNDUwLDE1MCB6IiBzdHlsZT0iZmlsbDojZjBmMGYwO3N0cm9rZTojNDQ0O3N0cm9rZS13aWR0aDoxMDA7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1taXRlcmxpbWl0OjQ7Ii8+IDwvc3ZnPg==);
      background-size: 1em;
      margin: 0 0 0 .25rem;
    }
  }

  a {
    padding: 0 .1em;
    margin: 0 -.05em;

    &:hover,
    &:focus {
      background: #c36;
      color: #fff;
    }
  }

  img {
    display: block;
    max-width: 100%
  }

  div {
    margin: 0 0 1em;
  }
}
.post__footer {
  padding: 2rem 0 0;
}
.tweet-link {
  display: inline-block;
  line-height: 1.25rem;
}
.tweet-link {
  .twitter-icon {
    display: block;
    font-size: 1.25rem;
    height: 1em;
    width: 1em;
    float: left;
    margin: 0 .5rem 0 0;

    path {
      fill: #55acee;
    }
  }
}

.post__footer {
  .tweet-link {
    float: right;
  }
}
.go-back {
  &::before {
    content: '«';
    display: inline-block;
    padding: 0 .25em 0 0;
  }
}

/* +footer */
.footer {
  padding: 1.75rem 0 2rem;
  font-size: .875rem;
}
.footer__links::after {
  content: '';
  display: block;
  clear: both;
}
.footer__item {
  float: left;
  margin: 0 1.5em 0 0;
}
.footer__item--page {
  float: right;
  margin: 0 0 1.5em;
}
.footer__link {
  line-height: 2em;
  display: block;

  &:hover,
  &:focus {
    .footer__icon {
      path,
      circle {
        fill: #666;
      }
    }
  }
}
.footer__icon {
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  display: block;
  float: left;
  margin: .1em .25em 0 0;
}
