.Headline {
  position: sticky;
  top: 4rem;
}

.Headline::after {
  content: ".";
}

@media (max-width: 42.5em) {
  .Headline {
    font-size: 4.2rem;
  }
}

@media (min-width: 42.53125em) {
  .Headline {
    font-size: 6rem;
  }
}
