@import "./blog-code.css";

.Date {
  color: var(--secondary-color);
}

.Blog-content {
  margin-block-end: 8rem;
  margin-block-start: 8rem;
}

/* +posts */

.Posts-item:not(:first-child) {
  margin-block-start: 4rem;
}

.PostsItem {
  position: relative;
}

.PostsItem a::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PostsItem-heading {
  display: flex;
  padding-block-end: 1rem;
}

.PostsItem-date {
  display: inline-block;
  padding-inline-end: 1rem;
}

.PostsItem-title {
  font-weight: bold;
}

.PostsItem-excerpt::after {
  content: "…";
}

/* +post */
.Post-title {
  font-weight: normal;
}

.Post-date {
  display: block;
  margin-block-start: 0.75rem;
}

.Post img {
  display: block;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

.Image {
  background: var(--divider-color);
  height: calc(var(--height) / 10 * 1rem);
  max-height: calc(
    calc(100vw - calc(var(--content-spacing) * 2)) *
      calc(var(--height) / var(--width))
  );
  max-width: 100%;
  width: calc(var(--width) / 10 * 1rem);
}

.Pagination {
  padding-block-start: 8rem;
}

.Pagination-label {
  color: var(--secondary-color);
  font-weight: bold;
}

.Pagination-label::after {
  content: ":";
  display: inline;
}

@media (max-width: 36em) {
  .PostsItem {
    flex-direction: column;
  }

  .PostsItem-heading {
    flex-direction: column;
  }

  .Pagination-item:not(:first-child) {
    margin-block-start: 2rem;
  }
}

@media (min-width: 36.025em) {
  .PostsItem-date::after {
    content: "·";
    padding-inline-start: 0.1em;
  }

  .PostsItem-title {
    flex: 1;
  }

  .Pagination-list {
    display: flex;
    flex-wrap: wrap;
  }

  .Pagination-item {
    box-sizing: border-box;
    flex: 0 0 50%;
  }

  .Pagination-item--next {
    padding-inline-end: 1rem;
  }

  .Pagination-item--prev {
    margin-inline-start: auto;
    padding-inline-start: 1rem;
    text-align: end;
  }
}
