.Intro em {
  background: var(--color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
  padding: 0 0.2em;
}

.Intro em::after {
  background: var(--color-light);
  left: 0;
  top: 0.3rem;
}

.Testimonial-copy::before {
  color: #d2e1e9;
  content: "“";
  float: left;
  font-size: 6em;
  height: 5rem;
  line-height: 1;
  margin: 0 2rem 0 1rem;
  text-shadow: 0.2rem 0.2rem #fff, 0.3rem 0.3rem 0 var(--color-secondary-light);
}

.Testimonial-copy::after {
  content: "”";
}

.Testimonial-author {
  color: var(--color-secondary-light);
  display: block;
  margin-top: 0.9em;
}

/* +clients */
.Clients {
  display: flex;
  flex-wrap: wrap;
}

.Client-item {
  color: var(--color-neutral);
}

.Client-item:not(:last-child)::after {
  content: "·";
  display: inline;
  padding: 0 1rem 0 0.5rem;
}
