.Blog {
  --color-primary: var(--blog-color-primary);
  --color-secondary: var(--blog-color-secondary);
  --color-secondary-light: var(--blog-color-secondary-light);
}

/* +posts */
.Posts {
  margin-top: 2rem;
}

.Posts-item:not(:first-child) {
  margin-top: 0.9em;
}

.PostsItem {
  position: relative;
}

.PostsItem a::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PostsItem-heading {
  display: flex;
}

.PostsItem-date {
  color: var(--color-secondary-light);
  display: inline-block;
}

.PostsItem-title {
  font-weight: bold;
}

.PostsItem-excerpt::after {
  content: "…";
}

/* +post */
.Post-date {
  color: var(--color-secondary-light);
  display: block;
  margin-top: 0.75rem;
}

.Post-content {
  padding: 4rem 0 0;
}

.Post-content > p:first-child::first-letter {
  color: var(--color-secondary);
  float: left;
  line-height: 0.6;
  text-shadow: 0.2rem 0.2rem 0 rgba(255, 255, 255, 0.5),
    0.3rem 0.3rem 0 var(--color-primary);
}

.Post-content img {
  display: block;
  margin: 0 auto;
}

.Post-footer {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing);
  white-space: nowrap;
}

.Image {
  background: #ccc;
  height: calc(var(--height) / 10 * 1rem);
  max-height: calc(
    calc(100vw - calc(var(--content-spacing) * 2)) *
      calc(var(--height) / var(--width))
  );
  max-width: 100%;
  width: calc(var(--width) / 10 * 1rem);
}

.Pagination-label {
  color: var(--color-neutral);
  font-weight: bold;
}

.Pagination-label::after {
  content: ":";
  display: inline;
}

@media (max-width: 36em) {
  .PostsItem {
    flex-direction: column;
  }

  .Posts-item:not(:first-child) {
    margin-top: 1em;
  }

  .Post-content > p:first-child::first-letter {
    font-size: 3.6em;
    margin: 0.15em 0.1em 0 0;
  }

  .Pagination-item:not(:first-child) {
    margin-top: 2rem;
  }
}

@media (min-width: 36.025em) {
  .PostsItem-date {
    flex: 0 0 5.9em;
  }

  .PostsItem-date::after {
    content: "·";
    padding: 0 0 0 0.1em;
  }

  .PostsItem-title {
    flex: 1;
  }

  .Post-content > p:first-child::first-letter {
    font-size: 6em;
    margin: 0.1em 0.1em 0 0;
  }

  .Pagination-list {
    display: flex;
    flex-wrap: wrap;
  }

  .Pagination-item {
    box-sizing: border-box;
    flex: 0 0 50%;
  }

  .Pagination-item--next {
    padding-right: 1rem;
  }

  .Pagination-item--prev {
    margin-left: auto;
    padding-left: 1rem;
    text-align: right;
  }
}
