.Blog {
  --color-primary: var(--blog-color-primary);
  --color-secondary: var(--blog-color-secondary);
}

/* +posts */
.Posts {
  margin-top: 2rem;
}

.PostsItem-date {
  display: inline-block;
  width: 5em;
}

/* +post */
.Post-date {
  display: block;
  margin: 1.5rem 0 0;
}

.Post-content {
  padding: 1.75em 0 0;
}

.Post-content img {
  display: block;
  margin: 0 auto;
}

.Post-footer {
  margin-top: var(--spacing);
}

.Image {
  background: #ccc;
  height: calc(var(--height) / 10 * 1rem);
  max-height: calc(
    calc(100vw - calc(var(--content-spacing) * 2)) *
      calc(var(--height) / var(--width))
  );
  max-width: 100%;
  width: calc(var(--width) / 10 * 1rem);
}

.Pagination-label {
  color: #767676;
  font-weight: bold;
}

.Pagination-label::after {
  content: ":";
  display: inline;
}

@media (max-width: 36em) {
  .Pagination-item:not(:first-child) {
    margin-top: 1.75em;
  }
}

@media (min-width: 36.025em) {
  .Pagination {
    display: flex;
    flex-wrap: wrap;
  }

  .Pagination-item {
    box-sizing: border-box;
    flex: 0 0 50%;
  }

  .Pagination-item:first-child {
    padding-right: 1rem;
  }

  .Pagination-item:last-child {
    margin-left: auto;
    padding-left: 1rem;
    text-align: right;
  }
}
