/* https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&text=QWERTZUIOPASDFGHJKLYXCVBNMqwertzuioöpasdfghjklyxcvbnm%C3%9F1234567890,.-/&() */
@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("/assets/fonts/RobotoSlabRegular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url("/assets/fonts/RobotoSlabBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url("/assets/fonts/RobotoSlabLight.woff2") format("woff2");
}
