.Footer {
  background: var(--color-light);
  outline: 0.2rem dashed #eee;
  padding: var(--spacing) 0;
}

.Footer-links {
  display: flex;
  flex-wrap: wrap;
}

.Footer-item {
  padding: 0 0 1rem;
}

.Footer-item:not(:last-child) {
  margin-right: 1.5em;
}

.Footer-copy {
  margin-top: 4rem;
}
