.Header {
  --fontSizeRem: calc(var(--fontSize) * 1rem);

  font-size: var(--fontSizeRem);
}

.Header--small {
  --headerSpacing: calc(var(--spacing) / 1);
  --fontSize: 2.4;

  padding: var(--headerSpacing) 0;
}

.Header:not(.Header--small) {
  --headerSpacing: var(--spacing);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(var(--headerSpacing) - 2rem) 0 var(--headerSpacing);
}

.Header-title,
.Header-image {
  margin-top: 2rem;
}

.Header-title {
  line-height: 1.4;
}

.Header--small .Header-titleItems {
  font-size: 0.75em;
  font-weight: 300;
  margin-top: 0.5rem;
}

.Header:not(.Header--small) .Header-titleItem {
  display: block;
}

.Header:not(.Header--small) .Header-titleItem--name {
  color: var(--color-primary);
}

.Header:not(.Header--small) .Header-titleItem--occupation {
  color: var(--color-secondary);
  font-size: 0.6em;
}

.Header-image {
  --size: 4.761904762em;

  border-radius: 50%;
  display: block;
  height: var(--size);
  order: -1;
  overflow: hidden;
  position: relative;
  width: var(--size);
}

.Header-image::after {
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary)
  );
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  mix-blend-mode: screen;
  position: absolute;
  right: 0;
  top: 0;
}

.Header-imageElement {
  background-size: 100%;
  color: transparent;
  display: block;
  filter: contrast(1.25) sepia(0.15);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 30em) {
  .Header {
    --headerSpacing-x: 0.5rem;
  }

  .Header:not(.Header--small) {
    --fontSize: 3.2;
  }

  .Header:not(.Header--small) .Header-title {
    align-items: center;
  }
}

@media (min-width: 30.025em) {
  .Header {
    --headerSpacing-x: 2rem;
  }

  .Header:not(.Header--small) {
    --fontSize: 4.2;

    justify-content: center;
  }

  .Header-image {
    --size: 4.761904762em;
  }

  .Header:not(.Header--small) .Header-title:not(:only-child),
  .Header:not(.Header--small) .Header-image {
    margin-left: var(--headerSpacing-x);
    margin-right: var(--headerSpacing-x);
  }
}
