.Nav {
  background: var(--color-light);
}

.Nav-list {
  display: flex;
  margin: 0 auto;
  max-width: var(--page-maxWidth);
}

.Nav-item {
  width: 50%;
}

.Nav-link {
  border-top: 0.3rem solid transparent;
  display: flex;
  padding: 0.6rem 1rem 1rem;
  text-align: center;
  transition: all 0.15s ease;
}

.Nav-link--about {
  --color: var(--about-color-primary);
}

.Nav-link--code {
  --color: var(--code-color-primary);
}

.Nav-link--blog {
  --color: var(--blog-color-primary);
}

.Nav-link[aria-current="page"],
.Nav-link:hover,
.Nav-link:focus,
.Nav-link:active {
  font-weight: bold;
}

.Nav-link:hover,
.Nav-link:focus,
.Nav-link:active {
  color: var(--color);
}

.Nav-link[aria-current="page"] {
  background-color: #fff;
  border-top-color: var(--color);
}

.Nav-item:first-child .Nav-link {
  justify-content: flex-end;
}

.Nav-label {
  display: block;
  max-width: calc(var(--page-maxWidth) / 2);
  width: 100%;
}
