:root {
  --about-color-primary: #740740;
  --about-color-secondary: #0a374e;
  --about-color-secondary-light: #41718a;
  --blog-color-primary: #236c62;
  --blog-color-secondary: #0a374e;
  --blog-color-secondary-light: #41718a;
  --color-primary: var(--about-color-primary);
  --color-secondary: var(--about-color-secondary);
  --color-secondary-light: var(--about-color-secondary-light);
  --color-neutral: #707070;
  --color-light: #f5f5f5;
  --page-maxWidth: 72rem;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #555;
  font: 1.8rem/1.8 "Roboto Slab", Helvetica, Arial, sans-serif;
}

b,
strong {
  color: var(--color-secondary);
  font-weight: bold;
}

::selection {
  background: var(--color-secondary);
  color: #fff;
  text-shadow: none;
}

.Section {
  border-top: 0.2rem dashed #eee;
  padding: var(--spacing) 0;
}

.Container {
  margin: 0 auto;
  max-width: var(--page-maxWidth);
  padding: 0 2rem;
}

.Content h1,
.Content h2 {
  color: var(--color-secondary);
}

.Content h1 {
  font-size: var(--h1-fontSize);
  line-height: 1.1;
}

.Content h2 {
  font-size: var(--h2-fontSize);
  font-weight: 300;
  line-height: var(--h2-lineHeight);
  margin-top: var(--h2-spacing);
}

.Content h1 span,
.Content h2 span {
  color: var(--color-secondary-light);
  font-weight: normal;
}

.Content a {
  box-decoration-break: clone;
  color: var(--color-primary);
}

.Content a:not([class]),
.Footer a:not([class]),
.IconLink-text {
  --color: var(--color-primary);

  background: linear-gradient(var(--color), var(--color)) no-repeat;
  background-position: 0 center;
  background-size: 100% 0;
  margin: 0 -0.1em;
  padding: 0.05em 0.2em;
  transition: all 0.1s ease;
}

.Content a:not([class]):hover,
.Content a:not([class]):focus,
.Content a:not([class]):active,
.Footer a:not([class]):hover,
.Footer a:not([class]):focus,
.Footer a:not([class]):active,
.IconLink:hover,
.IconLink:focus,
.IconLink:active {
  text-decoration: none;
}

.Content a:not([class]):hover,
.Content a:not([class]):focus,
.Content a:not([class]):active,
.Footer a:not([class]):hover,
.Footer a:not([class]):focus,
.Footer a:not([class]):active,
a:hover .IconLink-text,
a:focus .IconLink-text,
a:active .IconLink-text {
  --color: var(--color-secondary);

  background-size: 100% 100%;
  color: #fff;
}

small:not([class]) {
  font-size: 0.75em;
}

.Copy p,
.Copy ul,
.Copy ol,
.Copy table,
.Copy dl,
.Copy address,
.Copy picture,
.Testimonials-item:not(:first-child),
.highlighter-rouge:not(:first-child),
.highlight:not(:first-child),
.Copy .cp_embed_wrapper,
.Posts-item:not(:first-child) {
  margin-top: 1.8em;
}

.Copy li {
  margin-top: 0.9em;
  padding-left: 2rem;
  position: relative;
}

.Copy li::before {
  content: "";
  display: block;
  left: 0;
  position: absolute;
}

.Copy ul li::before {
  --size: 0.3em;

  border: 0.2rem solid var(--color-primary);
  border-radius: 50%;
  height: var(--size);
  top: 1.35rem;
  width: var(--size);
}

.Copy p,
.Copy ul,
.Copy ol,
.Copy blockquote,
.Testimonials,
.Clients,
.Posts-list {
  margin-left: var(--copy-spacing);
  margin-right: var(--copy-spacing);
}

.Copy ol {
  counter-reset: list;
}

.Copy ol li {
  counter-increment: list;
}

.Copy ol li::before {
  color: var(--color-primary);
  content: counter(list) ".";
  font-weight: bold;
}

.Copy picture {
  display: block;
}

.Copy h2 + p,
.Copy h2 + ul,
.Copy h2 + ol,
.Testimonials,
.Clients {
  margin-top: var(--h2-descendant-spacing);
}

.Content h2:first-child,
.Copy p:first-child,
.Copy ul:first-child,
.Copy ol:first-child {
  margin-top: 0;
}

@media (max-width: 32em) {
  :root {
    --spacing: 4rem;
    --content-spacing: 2rem;
    --h1-fontSize: 1.5em;
    --h2-fontSize: 1.2em;
    --h2-lineHeight: 1.5;
    --h2-spacing: 2.208333333em;
    --h2-descendant-spacing: 1.9em;
    --copy-spacing: 0;
  }
}

@media (min-width: 32.025em) {
  :root {
    --spacing: 6rem;
    --content-spacing: 4rem;
    --h1-fontSize: 2.1em;
    --h2-fontSize: 1.6em;
    --h2-lineHeight: 1.125;
    --h2-spacing: 1.5625em;
    --h2-descendant-spacing: 2em;
    --copy-spacing: 3rem;
  }
}

@media (min-width: 50em) {
  :root {
    --spacing: 8rem;
    --content-spacing: 8rem;
  }
}
