<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <style>
      @font-face {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
      }
      body {
        font-family: 'Roboto Slab', Georgia, Times, serif;
      }
    </style>
    </body>
</html>