---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="top" class="About">
    <div class="Container Container--large">
      <header>
        <h1>
          <span class="MainTitle MainTitle--large">
            Michael Großklaus
          </span>
          <span class="SubTitle SubTitle--large">
            <b>freelance frontend developer</b>
          </span>
        </h1>
      </header>

      {% include nav.html current="about" %}
    </div>

    {{ content }}
  </body>
</html>
