<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html current="blog" %}

    <main class="Content Blog">
      {% include header.html small=true current="blog" %}

      <article class="Post Section">
        <div class="Post-heading">
          <h1>{{ page.title }}</h1>
          <time
            class="Post-date Date"
            datetime="{{ page.date | date_to_xmlschema }}"
          >
            {{ page.date | date: "%-d/%m/%Y" }}
          </time>
        </div>
        <div class="Post-content Copy">
          {{ content }}
        </div>

        <ul class="Post-footer">
          <li>
            <a
              class="IconLink IconLink--twitter"
              href="https://twitter.com/home/?status={{page.title | url_encode }}%20{{site.url}}{{page.url}}"
              target="_blank"
              rel="noopener"
              ><span class="IconLink-text">Tweet this</span></a
            >
          </li>
        </ul>

      </article>

      {% capture the_collection %}{{page.collection}}{% endcapture %}
      {% if page.collection %}
        {% assign document = site[the_collection] %}
      {% endif %}
      {% for links in document %}
        {% if links.title == page.title %}
          {% unless forloop.first %}
            {% assign nextUrl = next.url %}
            {% assign nextTitle = next.title %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign prev = document[forloop.index] %}
            {% assign prevUrl = prev.url %}
            {% assign prevTitle = prev.title %}
          {% endunless %}
        {% endif %}
        {% assign next = links %}
      {% endfor %}

      <dl class="Pagination Section">
        {% if nextUrl %}
          <div class="Pagination-item Pagination-item--next">
            <dt class="Pagination-label">Next article</dt>
            <dd><a rel="next" href="{{nextUrl}}">{{nextTitle}}</a></dd>
          </div>
        {% endif %}
        {% if prevUrl %}
          <div class="Pagination-item Pagination-item--prev">
            <dt class="Pagination-label">Previous article</dt>
            <dd><a rel="prev" href="{{prevUrl}}">{{prevTitle}}</a></dd>
          </div>
        {% endif %}
      </dl>

      {% include footer.html %}
    </main>
  </body>
</html>
